<div [class.mat-elevation-z2]="!shadowToggle" [class.mat-elevation-z2]="shadowToggle">
    <mat-toolbar color="primary">
        <a routerLink="">Vent2U</a>
        <span class="example-spacer"></span>
        <button routerLink="about" mat-icon-button="">
            <mat-icon>help_outline</mat-icon>
        </button>
        <button mat-icon-button (click) = "previewValue()">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>